@import './reset.css';

:root {
    --light-main-color: #ddd5f7;
    --main1-color: #7E5EF2;
    --main2-color: #6A44F2;
    --dark-main-color: #392d68;
    --lightgray-color: #f2f2f2;
    --gray-color: #A2A2A2;
    --dark-background-color: #160c2e;
    --black-color: #000000;

    --space-xxl: 100px;
    --space-xl: 80px;
    --space-l: 32px;
    --space-m: 16px;
    --space-s: 12px;
    --space-xs: 8px;
    --space-xxs: 4px;

    --fontsize-h1: 35px;
    --fontsize-h2: 30px;
    --fontsize-h3: 24px;
    --fontsize-l: 20px;
    --fontsize-m: 18px;
    --fontsize-s: 16px;
    --fontsize-xs: 14px;
}

.body {
    height: 100%;
    justify-content: center;
    align-self: center;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    justify-content: center;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
    background-color: white;
    box-shadow: 10px 10px 30px var(--gray-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    display: flex; 
}

@media screen and (max-width:900px) {
    .container {
        flex-direction: column;
        top: 0%;
        transform: translate(-50%, 0%);
    }
    .main {
        flex-direction: column;
    }
}

@media screen and (max-height:750px) {
    .container {
        top: 0%;
        transform: translate(-50%, 0%);
    }
}