.div-images {
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
}

.images-title {
    color: var(--dark-main-color);
    font-size: var(--fontsize-l);
    font-weight: 600;
    margin-left: var(--space-xs);
    margin-bottom: var(--space-xxs); 
}

#images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs {
    width: 390px;
    height: 110px;
    border-radius: 10px;
}

#images:hover {
    cursor: pointer;
    transform: scale(1);
    filter: brightness(110%);
}

#images:active {
    transform: scale(.98);
    filter: brightness(95%);
}

.img-cover{
    border-radius: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index:1;
  }

#quote {
    width: 370px;
    height: 80%;
    color: white;
    position: absolute;
    z-index: 2;
}

.quote {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--fontsize-s);
    font-style: italic;
    font-weight: 600;
    margin-top: var(--space-xs);
}

.author {
    float: right;
    font-size: 12px;
    font-weight: 400;
    margin-right: var(--space-xs);
}