.div-search {
    height:46px;
    width: 385px;
    border: solid 3px var(--main1-color);
    border-radius: 30px;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
    margin-left: var(--space-xxs);
    margin-right: var(--space-xxs);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main2-color);
}

#search-form {
    height: 24px;
}

#search-form input {
    width: 330px;
    border: none;
    outline: none;
    padding-left: var(--space-xxs);
    color: var(--dark-main-color);
    font-size: var(--fontsize-m);
    font-weight: 400;
}

#search-form input::placeholder {
    color: var(--gray-color);
    font-size: var(--fontsize-m);
    font-weight: 400;
}

.div-color {
    display: flex;
    margin-top: var(--space-xxs);
    margin-bottom: var(--space-m);
    align-items: center;
}

.colorpicker {
    height: 16px;
    width: 16px;
    margin-right: var(--space-xs);
    border-radius: 50%;
    cursor: pointer;
}

.colorpicker:hover {
    transform: scale(1.2);
    filter: brightness(110%);
}

.colorpicker:active {
    transform: scale(.95);
    filter: brightness(90%);
}