.div-search {
    height:46px;
    width: 390px;
    border: solid 3px var(--main1-color);
    border-radius: 30px;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
    margin-left: var(--space-xxs);
    margin-right: var(--space-xxs);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main2-color);
}

#search-form {
    margin: var(--space-s);
    height: 24px;
}

#search-form input {
    width: 335px;
    border: none;
    outline: none;
    padding-left: var(--space-xxs);
    color: var(--dark-main-color);
    font-size: var(--fontsize-m);
    font-weight: 400;
}

#search-form input::placeholder {
    color: var(--gray-color);
    font-size: var(--fontsize-m);
    font-weight: 400;
}