body {
    background-color: beige;
}

.hidden {
    display: none;
}

.delete {
    color: gray;
    transition: all 0.2s ease-in-out;
}

.delete:hover {
    color: red;
    cursor: pointer;
    transform: scale(0.5);
}