@import 'reset.css';

:root {
    --light-main-color: #ddd5f7;
    --main1-color: #7E5EF2;
    --main2-color: #6A44F2;
    --drak-main-color: #392d68;
    --lightgray-color: #f2f2f2;
    --gray-color: #A2A2A2;
    --dark-background-color: #160c2e;
    --black-color: #000000;

    --space-xxl: 72px;
    --space-xl: 48px;
    --space-l: 24px;
    --space-m: 16px;
    --space-s: 12px;
    --space-xs: 8px;

    --fontsize-h1: 35px;
    --fontsize-h2: 28px;
    --fontsize-h3: 24px;
    --fontsize-l: 20px;
    --fontsize-m: 18px;
    --fontsize-s: 16px;
    --fontsize-xs: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    max-width: 1160px;
    height: 800px;
    margin: var(--space-s);
}

.main {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: var(--space-s);
}

.hello {
    text-transform: uppercase;
    margin-left: var(--space-xs);
    margin-bottom: var(--space-xs);
}

#hello-greeting {
    font-size: var(--fontsize-h1);
    color: var(--dark-background-color);
}

#greeting {
    font-size: var(--fontsize-h2);
    color: var(--main1-color);
    font-weight: 600;
    margin-right: var(--space-xs);
}

#div-greeting {
    display: flex;
    align-items: center;
}

#modify {
    font-size: var(--fontsize-s);
    color: var(--gray-color);
}

#modify:hover {
    color: var(--main2-color);
    cursor: pointer;
    transform: scale(1.1);
}

.hello input {
    font-size: var(--fontsize-h2);
    font-weight: 600;
    border: none;
    outline: none;
    border-bottom: solid 3px var(--main1-color);
    padding-left: var(--space-xs);
    color: var(--main1-color);
}

.hello input::placeholder {
    color: var(--gray-color);
    font-size: var(--fontsize-m);
    font-weight: 300;
}

.div-clock-date {
    display: flex;
    color:var(--dark-background-color);
    margin-left: var(--space-xs);
}

.date {
    margin-right: var(--space-xs);
}

#quote {
    height: 100px;
    font-weight: 200;
    margin: var(--space-xs);
    color: var(--dark-background-color);
    align-items: center;
}

.quote {
    font-size: var(--fontsize-xs);
    font-weight: 400;
    font-style: italic;
    margin-bottom: var(--space-xs);
}

.author {
    float: right;
    font-size: var(--fontsize-xs);
}

.todolist {
    width: 400px;
    margin: var(--fontsize-xs); 
}

.todolist-title {
    font-size: var(--fontsize-l);
    font-weight: 600;
    margin-left: var(--space-xs);
    margin-bottom: 4px;
    color: var(--drak-main-color);
}

#todo-form {
    border-radius: 0 0 10px 10px;
    padding: var(--space-xs);
    background-color: var(--main1-color);
}

.todolist input {
    width: 385px;
    font-size: var(--fontsize-m);
    font-weight: 400;
    border: none;
    outline: none;
    background-color: var(--main1-color);
    color: var(--lightgray-color);
}

.todolist input::placeholder {
    color: var(--light-main-color);
    font-size: var(--fontsize-s);
    font-weight: 400;
}

#todo-list {
    height: 400px;
    border-radius: 10px 10px 0 0;
    background-color: var(--lightgray-color);
    padding-top: var(--space-xs);
    overflow: auto;
}

#todo-list ul {
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    margin-left: var(--space-l);
    margin-right: var(--space-l);
    font-size: var(--space-m);
    font-weight: 300;
    color: var(--dark-background-color);
}

#edit {
    color: gray;
    font-size: var(--space-s);
}

#edit:hover {
    color: var(--main2-color);
    cursor: pointer;
    transform: scale(1.3);
}