.div-todo {
    width: 400px;
    margin: var(--space-m); 
}

.todo-title {
    font-size: var(--fontsize-l);
    font-weight: 600;
    margin-left: var(--space-xs);
    margin-bottom: var(--space-xxs);
    color: var(--drak-main-color);
}

#todo-form {
    border-radius: 0 0 10px 10px;
    padding: var(--space-s);
    background-color: var(--main1-color);
}

.div-todo input {
    width: 375px;
    font-size: var(--fontsize-m);
    font-weight: 400;
    border: none;
    outline: none;
    background-color: var(--main1-color);
    color: var(--lightgray-color);
}

.div-todo input::placeholder {
    color: var(--light-main-color);
    font-size: var(--fontsize-s);
    font-weight: 400;
}

#todo-list {
    height: 400px;
    border-radius: 10px 10px 0 0;
    background-color: var(--lightgray-color);
    padding-top: var(--space-xs);
    overflow: auto;
}

#todo-list ul {
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    margin-left: var(--space-l);
    margin-right: var(--space-s);
    font-size: var(--space-m);
    font-weight: 300;
    color: var(--dark-background-color);
}

#edit {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
    color: gray;
    font-size: var(--space-s);
}

#edit:hover {
    color: var(--main2-color);
    cursor: pointer;
    transform: scale(1.3);
}

#edit:active {
    transform: scale(0.9);
}